#content {
    font : 14px Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color : #4d4d4d;
    min-width: 500px;
    max-width: 850px;
    margin: 0 auto;
}

a:active {
    color : #FFF;

}

a:visited {
    color : #FFF;

}

a:hover {
    color : #FFF;

}

.header{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#605fb3+0,5f67b9+32,4975c5+62,71bded+100 */
background: rgb(96,95,179); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(96,95,179,1) 0%, rgba(95,103,185,1) 32%, rgba(73,117,197,1) 62%, rgba(113,189,237,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(96,95,179,1) 0%,rgba(95,103,185,1) 32%,rgba(73,117,197,1) 62%,rgba(113,189,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(96,95,179,1) 0%,rgba(95,103,185,1) 32%,rgba(73,117,197,1) 62%,rgba(113,189,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#605fb3', endColorstr='#71bded',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.logo {
	width: 200px;
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	height: 25px;
	margin-left: -220px;
	margin-top: 20px;
}

.logo, img{
	width: 120px;
}

nav {
	margin-top: 25px;
	position: relative;
	float: left;
	margin-right: 50%;
	font-family: Roboto;
	font-size: 1em;
	width: 200em;
}

.grid{
	padding: 6px;
	height: 280px!important;
	width: 200px!important;
}

.gridItem {
	height: 280px!important;
	width: 200px!important;
	-webkit-border-radius: 30px;
	-webkit-border-bottom-left-radius: 030px;
	-moz-border-radius: 30px;
	-moz-border-radius-bottomleft: 030px;
	border-radius: 30px;
	border-bottom-left-radius: 030px;
}

.gridItem img{
	height: 280px!important;
}

.gridItem > div{
	background-color: rgba(255,255,255,0.9)!important;
}

.gridItem div{
	color: #666!important;
}

.gridItem:hover {
	cursor: pointer; cursor: hand;
}

.divisoria {
	height: 25px!important;
}

input{
	width: 100%;
}


.filepicker{
	text-align: center!important;
	padding: 50px!important;
	background-color: #f7f7f7!important;
	border-radius: 10px!important;
	min-height: 180px!important;
	border: 1px dashed #C7C7C7!important;
	font-family: Roboto!important;
	font-size: 1.2em!important;
}

.filepicker-file-icon::before{
	position: absolute!important;
	top: -7px!important;
	left: 0!important;
	width: 29px!important;
	height: 34px!important;
	content: ''!important;
	border: solid 1.5px #7F7F7F!important;
	border-radius: 2px!important;
}

.filepicker-file-icon::after{
	font-size: 11px!important;
	line-height: 1.3!important;
	position: absolute!important;
	top: 9px!important;
	left: -4px!important;
	padding: 0 2px!important;
	content: 'file'!important;
	content: attr(data-filetype)!important;
	text-align: right!important;
	letter-spacing: 1px!important;
	text-transform: uppercase!important;
	color: #fff!important;
	background-color: #286a90!important;
}

.dropzone .dz-preview.dz-file-preview .dz-image{
	background: linear-gradient(to bottom, #615db1, #65b2e8)!important;
}

.dz-details{
	color: #fff!important;
}

.titulo{
	font-size: 1.5em!important;
	text-align: center!important;
	margin-bottom: 10px!important;
}


.Collapsible__trigger{
	background-color: #666;
	color: #fff;
	width: 100%;
	display: block;
	padding: 15px;
}

.Collapsible__contentOuter{
	border: 1px solid  #666;
}

.is-open{
	background-color: #5b5a96;
}

.is-open .Collapsible__contentOuter{
	border: 1px solid #5b5a96;
}


.is-closed{
	background-color: #666;
}

.is-open .Collapsible__contentOuter{
	border: 1px solid #666;
}

.chapter{
	margin: 10px;
	font-size: 0.9em;
	font-family: Roboto;
	padding: 5px;
}

.material-icons{
}

/*nav {*/
    /*padding-top: 20px;*/
/*}*/